# deps
node_modules/
**/node_modules/

# env
.env
.env.*
backend/.env
frontend/.env

# builds
dist/
build/
.vite/
.next/
out/

# logs
*.log

# notes / pdfs (you already moved to S3)
backend/public/notes/
*.pdf

# ML artifacts (usually big)
ml_service/models/
*.pkl
*.joblib

# datasets if big
ml_service/data/
*.csv